.custom-icon {
  font-size: 1.4em; /* définit la taille de la police à 2 fois la taille normale */
}

.navbar {
  margin-bottom: 50px;
}

.primary_box {
  margin: 10px;
}

#contact {
  display: none;
}
